token: "{{ vault_rke2_token }}"
node-name: "{{ inventory_hostname }}"
node-ip: "{{ ansible_host }}"
tls-san:
  - "{{ rke2_api_hostname }}"
  - "{{ rke2_endpoint_ip }}"
write-kubeconfig-mode: "0600"
cluster-cidr: "{{ rke2_cluster_cidr }}"
service-cidr: "{{ rke2_service_cidr }}"
cluster-dns: "{{ rke2_cluster_dns }}"
cni: "{{ rke2_cni }}"
etcd-snapshot-schedule-cron: "0 */12 * * *"
etcd-snapshot-retention: 10
etcd-snapshot-compress: true
{% if not (rke2_first_server | default(false) | bool) %}
server: "https://{{ rke2_api_hostname }}:9345"
{% endif %}
